*
!*.mmdb
!*.md
!*.markdown
!*.py
!*.ini
!*.yaml
!*.txt
!*.html
!*/
!*.conf
!*.js
!*.css
!*.jpg
!*.png
!*.gif
!*.ico
!*.font
!*.less
!*.eot
!*.woff
!*.svg
!*.json
!*.gpg
!*.gitignore
settings_local.py
**/.ropeproject/*
